Flask==3.0.3
gunicorn==22.0.0
blinker==1.9.0
pandas==2.2.2
plotly==5.24.1
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.13.1
shap==0.46.0
shapely==2.0.6
sklearn-pandas==2.2.0
statsmodels==0.14.4
xgboost==2.1.3